# App
NODE_ENV=development

# API
API_PORT=3000
API_HOST=0.0.0.0
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://your_user:your_password@your_host:5432/your_database

# Auth
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# CORS
CORS_ORIGIN=http://localhost:5173

# Web
VITE_API_BASE_URL=http://localhost:3000/api/v1